body{
    
}
.login{
    display: block;
    margin-top: 10%;
    margin-left: 30%;
    width: 600px;
    height: 300px;
    border: 2px solid rgb(236, 19, 19);
    border-radius: 30px;
    box-shadow: 0 0 50px 5px rgb(148, 31, 31);
}
.login input {
    margin-left: 60px;
    width: 80%;
    height: 50px;
    margin-top: 30px;
    justify-content: center;
    border-radius: 10px;
}
button{
    
width: 200px;
height: 50px;
}